<div id="<%= dom_id transferable_course %>">
  <p>
    <strong>From course:</strong>
    <%= transferable_course.from_course_id %>
  </p>

  <p>
    <strong>To course:</strong>
    <%= transferable_course.to_course_id %>
  </p>

  

</div>
