<h1>Editing transferable course</h1>

<%= render "form", transferable_course: @transferable_course %>

<br>

<div>
  <%= link_to "Show this transferable course", @transferable_course %> |
  <%= link_to "Back to transferable courses", transferable_courses_path %>
</div>
