<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% saved_plans.each do |saved_plan| %>
      <%= render "saved_plans/saved_plan_card", saved_plan: saved_plan %>
    <% end %>
  </div>
</div>
