<div id="<%= dom_id degree_requirement %>">
  <p>
    <strong>Name:</strong>
    <%= degree_requirement.name %>
  </p>

  <p>
    <strong>Credit hour amount:</strong>
    <%= degree_requirement.credit_hour_amount %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= degree_requirement.degree_id %>
  </p>

</div>
