<li id="degree-requirement-<%= degree_requirement.id %>">
  <%= link_to "#{degree_requirement.name} (#{degree_requirement.credit_hour_amount} credits)", 
  degree_requirement_path(degree_requirement) %>
</li>
