<h1>Editing degree requirement</h1>

<%= render "form", degree_requirement: @degree_requirement %>

<br>

<div>
  <%= link_to "Show this degree requirement", @degree_requirement %>
  |
  <%= link_to "Back to degree requirements", degree_requirements_path %>
</div>
