<div id="home-page">
  <h1 class="text-center display-2 fw-bold mt-4">
    Find the cheapest path to your degree
  </h1>

  <h2 class="text-center fs-3 fs-lg-2 fw-normal mt-3">
    Planning to go to college? Calculate the cheapest path to your degree of choice.
  </h2>

   <h2 class="text-center fs-3 fs-lg-2 fw-normal mt-3">
    Part-Time paths can save you as much as <strong>$20,000</strong>
  </h2>
  
  <div class="container text-center mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="ratio ratio-16x9">
          <video autoplay muted loop>
            <source src="<%= asset_path 'demo_video.mp4' %>" type="video/mp4" alt="demo video">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      
      <div class="col-md-6 text-start">
        <h2 class="ms-3 fs-3 fs-lg-2 fw-semibold">
          Just Select:
        </h2>
        <ul class="list-unstyled ms-4 ms-lg-5 fs-4 fs-lg-3 fw-normal">
          <li>Degree</li>
          <li>Local Community College</li>
          <li>Ending University</li>
        </ul>
        
        <div class="d-flex justify-content-center align-items-center mt-4">
          <span class="arrow-symbol fs-2 fs-lg-1 fw-bold me-3 purple">&#x2192;</span>
          <%= link_to 'Find Plan', plan_page_path, class: 'btn custom-btn-2 fs-4 fs-lg-3 fw-bold px-4 px-lg-5 py-2 py-lg-3' %>
        </div>
      </div>
    </div>
  </div>
  
  <h2 class="text-center fs-3 fw-bold mt-4 responsive-h2">
    Not sure where you want to go to?
  </h2>
  
  <p class="text-center fs-4 fs-lg-3 fw-normal">
    Just select your degree of choice and local community college to find the cheapest option.
  </p>
</div>
