<div id="courses-list">
  <div class="list-group mb-4">
    <% courses.each do |course| %>
      <%= render 'courses/list_item', course: course %>
    <% end %>
  </div>

  <%= paginate courses, remote: true %>
</div>
