<h1>New School</h1>

<%= render "form", school: @school %>

<div id="school-info" style="margin-top: 20px;">
</div>

<div id="course-form" style="display: none; margin-top: 20px;">
  <h2>Add Courses for the School</h2>

  <%= render "courses/form", course: @course %>

  <h3>Courses in Department</h3>
  <ul id="courses-list">
    <%= render partial: "courses/course_list_item", collection: @courses, as: :course %>
  </ul>
</div>

<br>
<div>
  <%= link_to "Back to schools", schools_path %>
</div>
