/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* #home-page, #nav {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */

 body {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #f8eee7; 
  color: #343434; 
}

.custom-navbar {
  background-color: #f9f5f0; 
}

.purple{
  color: #94618E;
}
.custom-card {
  background-color: #f9f5f0; 
  color: #343434; 
}

.form-select {
  background-color: #f8eee7; 
  color: #343434; 
}

.form-select:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(52, 52, 52, 0.5);
}

.custom-btn {
  background-color: #f8eee7; 
  color: #333; 
  border: 1px solid #ccc; 
}

.custom-btn:hover {
  background-color: #f8eee7; 
  color: #000; 
  border-color: #bbb; 
}

.custom-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(228, 215, 206, 0.5); 
}


.custom-btn-2 {
  background-color: #f9f5f0; 
  color: #343434;          
  border: 1px solid #343434; 
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; 
}

.custom-btn-2:hover {
  background-color: #f9f5f0; 
  color: #000;            
  border-color: #343434;   
  box-shadow: 0 0 10px rgba(52, 52, 52, 0.5); 
}

.custom-btn-2:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(52, 52, 52, 0.2); 
}

.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem; /* Larger brand size */
  padding: 0.5rem 0; /* Vertical padding */
}

.navbar-toggler {
  border: none;
  outline: none !important;
  padding: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

a {
  color: #343434 !important;
  text-decoration: none;
}

a:hover, a:visited, a:active {
  color: #000 !important;
  text-decoration: underline;
}

.form-check-input:checked {
  background-color: #343434 !important;
  border-color: #343434 !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(52, 52, 52, 0.25) !important;
  border-color: #343434 !important;
}

.nav-link:hover {
  text-decoration: none !important;
}


