/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: #f8eee7; /* Reversed from #f9f5f0 */
  color: #343434; /* Optional: Set a default text color for readability */
}

.custom-navbar {
  background-color: #f9f5f0; /* Set the navbar background color */
}

.custom-card {
  background-color: #f9f5f0; /* Reversed from #e4d7ce */
  color: #343434; /* Optional: Adjust text color for better contrast */
}

.form-select {
  background-color: #f8eee7; /* Reversed from #f9f5f0 */
  color: #343434; /* Dark text for contrast */
}

.form-select:focus {
  outline: none; /* Removes the default outline */
  box-shadow: 0 0 0 0.25rem rgba(52, 52, 52, 0.5);
}

.custom-btn {
  background-color: #f8eee7; /* Reversed from #f9f5f0 */
  color: #333; /* Optional: Dark text for contrast */
  border: 1px solid #ccc; /* Optional: Add a subtle border */
}

.custom-btn:hover {
  background-color: #f8eee7; /* Slightly darker shade for hover */
  color: #000; /* Optional: Ensure text remains readable */
  border-color: #bbb; /* Optional: Darken border on hover */
}

.custom-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(228, 215, 206, 0.5); /* Reversed to match #e4d7ce */
}
