<div id="<%= dom_id course_requirement %>">
  <p>
    <strong>Course:</strong>
    <%= course_requirement.course_id %>
  </p>

  <p>
    <strong>Degree requirement:</strong>
    <%= course_requirement.degree_requirement_id %>
  </p>

  <p>
    <strong>Is mandatory:</strong>
    <%= course_requirement.is_mandatory %>
  </p>

</div>
